@{
    ViewData["Title"] = "Home Page";

    var alert = "bu bir uyarı mesajıdır.";
}
@section Scripts
{
    <script type="text/javascript">
        //alert("Sayfamıza hoşgeldin.")
            $(document).ready(function(){

                console.log("Sayfamıza hoş geldin");

            })
    </script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<partial name="_MenuPartialView" /> @*Önerilen kullanım*@
@await Html.PartialAsync("_MenuPartialView")
@Html.Partial("_MenuPartialView")
