@{
    ViewData["Title"] = "Home Page";

    var alert = "bu bir uyarı mesajıdır.";
}
@section Css
{
    <link href="~/css/example.css" rel="stylesheet" />
    <style>
        h1{
            color:red;
            background-color:blue;
        }
    </style>
}
@section Scripts
{
    <script type="text/javascript">
        //alert("Sayfamıza hoşgeldin.")
            $(document).ready(function(){

                console.log("Sayfamıza hoş geldin");

            })
    </script>
}

<h1>Merhaba Dünya</h1>
<hr />
<h2>MErhaba Asp.Net</h2>

@*<partial name="_MenuPartialView" /> @*Önerilen kullanım@
@await Html.PartialAsync("_MenuPartialView")
@Html.Partial("_MenuPartialView")*@
