
@{
    ViewData["Title"] = "Index";
}
@section Scripts
{
	<script type="text/javascript">
		$(document).ready(function(){

		})
	</script>
}

	<div class="mb-3">
		<label class="form-label" for="Name">İsim</label>
		<input class="form-control" id="Name" name="Name" />
	</div>
	<div class="form-floating mb-3">
		<textarea id="Comment" name="Comment" class="form-control" placeholder="Yorum" style="height: 100px"></textarea>
		<label for="Comment">Yorum</label>
	</div>
	<button type="button" class="btn btn-primary">Kaydet</button>


